h1 {
    color: #eaeade
}
h2 {
    color:  #eaeade
}
p {
    color: rgb(182, 182, 182);
}
.ParagrafoTOP {
    color: #909090
}
#ParagrafoNaotop {
    color: #909090
}

body{
    background-color: #1f1f1f;
}

